In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [2]:
#loading the datasets
df = pd.read_csv("email spam.csv")
df

     category                                            message
0         ham  "Go until jurong point, crazy.. Available only...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  "Nah I don't think he goes to usf, he lives ar...
...       ...                                                ...
5569     spam  "This is the 2nd time we have tried 2 contact ...
5570      ham               Will ü b going to esplanade fr home?
5571      ham  "Pity, * was in mood for that. So...any other ...
5572      ham  The guy did some bitching but I acted like i'd...
5573      ham                         Rofl. Its true to its name

[5574 rows x 2 columns]

In [3]:
#finding missing values
df.isnull().sum()

category    0
message     0
dtype: int64

In [4]:
#Finding duplicates values
df.duplicated().sum()

415

In [5]:
#Handling duplicates values
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [6]:
#encoding categorical data of category column
df["spam"] = df["category"].apply(lambda x: 0 if x=="ham" else 1)
df

     category                                            message  spam
0         ham  "Go until jurong point, crazy.. Available only...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  "Nah I don't think he goes to usf, he lives ar...     0
...       ...                                                ...   ...
5569     spam  "This is the 2nd time we have tried 2 contact ...     1
5570      ham               Will ü b going to esplanade fr home?     0
5571      ham  "Pity, * was in mood for that. So...any other ...     0
5572      ham  The guy did some bitching but I acted like i'd...     0
5573      ham                         Rofl. Its true to its name     0

[5159 rows x 3 columns]

In [7]:
df.spam.value_counts()

0    4518
1     641
Name: spam, dtype: int64

In [8]:
#we can see that,this datasets is a imbalance dataset.Because there are clear inconsistance differce between ham and spam number

In [9]:
#handling imbalance datasets
df_0 = df[df["spam"]==0]
df_0

     category                                            message  spam
0         ham  "Go until jurong point, crazy.. Available only...     0
1         ham                      Ok lar... Joking wif u oni...     0
3         ham  U dun say so early hor... U c already then say...     0
4         ham  "Nah I don't think he goes to usf, he lives ar...     0
6         ham  Even my brother is not like to speak with me. ...     0
...       ...                                                ...   ...
5567      ham                                       Huh y lei...     0
5570      ham               Will ü b going to esplanade fr home?     0
5571      ham  "Pity, * was in mood for that. So...any other ...     0
5572      ham  The guy did some bitching but I acted like i'd...     0
5573      ham                         Rofl. Its true to its name     0

[4518 rows x 3 columns]

In [10]:
df_1 = df[df["spam"]==1]
df_1

     category                                            message  spam
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
5        spam  "FreeMsg Hey there darling it's been 3 week's ...     1
8        spam  WINNER!! As a valued network customer you have...     1
9        spam  Had your mobile 11 months or more? U R entitle...     1
11       spam  "SIX chances to win CASH! From 100 to 20,000 p...     1
...       ...                                                ...   ...
5539     spam  Want explicit SEX in 30 secs? Ring 02073162414...     1
5542     spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...     1
5549     spam  "Had your contract mobile 11 Mnths? Latest Mot...     1
5568     spam  "REMINDER FROM O2: To get 2.50 pounds free cal...     1
5569     spam  "This is the 2nd time we have tried 2 contact ...     1

[641 rows x 3 columns]

In [11]:
sample_df_0 = df_0.sample(641)
sample_df_0

     category                                            message  spam
2931      ham                  Wat's my dear doing? Sleeping ah?     0
1135      ham  U wake up already? Thanx 4 e tau sar piah it's...     0
2348      ham                     But i dint slept in afternoon.     0
3835      ham         Watching tv lor. Nice one then i like lor.     0
3645      ham                        * Thought I didn't see you.     0
...       ...                                                ...   ...
3028      ham                             You still at the game?     0
96        ham                  Watching telugu movie..wat abt u?     0
785       ham  Dont think so. It turns off like randomlly wit...     0
3139      ham                                 Wat r u doing now?     0
199       ham  Hi its Kate how is your evening? I hope i can ...     0

[641 rows x 3 columns]

In [12]:
balanced_df = pd.concat([sample_df_0,df_1])
balanced_df

     category                                            message  spam
2931      ham                  Wat's my dear doing? Sleeping ah?     0
1135      ham  U wake up already? Thanx 4 e tau sar piah it's...     0
2348      ham                     But i dint slept in afternoon.     0
3835      ham         Watching tv lor. Nice one then i like lor.     0
3645      ham                        * Thought I didn't see you.     0
...       ...                                                ...   ...
5539     spam  Want explicit SEX in 30 secs? Ring 02073162414...     1
5542     spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...     1
5549     spam  "Had your contract mobile 11 Mnths? Latest Mot...     1
5568     spam  "REMINDER FROM O2: To get 2.50 pounds free cal...     1
5569     spam  "This is the 2nd time we have tried 2 contact ...     1

[1282 rows x 3 columns]

In [13]:
#Extracting independent and dependent variables
x = balanced_df["message"]
y = balanced_df["spam"]

In [14]:
x

2931                    Wat's my dear doing? Sleeping ah?
1135    U wake up already? Thanx 4 e tau sar piah it's...
2348                       But i dint slept in afternoon.
3835           Watching tv lor. Nice one then i like lor.
3645                          * Thought I didn't see you.
                              ...
5539    Want explicit SEX in 30 secs? Ring 02073162414...
5542    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5549    "Had your contract mobile 11 Mnths? Latest Mot...
5568    "REMINDER FROM O2: To get 2.50 pounds free cal...
5569    "This is the 2nd time we have tried 2 contact ...
Name: message, Length: 1282, dtype: object

In [15]:
x.ndim

1

In [16]:
y

2931    0
1135    0
2348    0
3835    0
3645    0
       ..
5539    1
5542    1
5549    1
5568    1
5569    1
Name: spam, Length: 1282, dtype: int64

In [17]:
#Splitting the dataset into training and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [18]:
len(x_train)

1025

In [19]:
len(x_test)

257

In [20]:
x_train

1095    Now only i reached home. . . I am very tired n...
4943    "I'm eatin now lor, but goin back to work soon...
3860    "Win the newest Harry Potter and the Order of...
5171                             Now i'm going for lunch.
3141    sexy sexy cum and text me im wet and warm and ...
                              ...
5073    WIN a £200 Shopping spree every WEEK Starting ...
5315             My sister going to earn more than me da.
2145    FreeMsg: Hey - I'm Buffy. 25 and love to satis...
2532    What's happening with you. Have you gotten a j...
3111    Good Luck! Draw takes place 28th Feb 06. Good ...
Name: message, Length: 1025, dtype: object

In [21]:
#encoding text data
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x_train_cv = cv.fit_transform(x_train)
x_train_cv =x_train_cv.toarray()

In [22]:
#Training the datasets to Gaussian naive bayes model
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train_cv,y_train)

GaussianNB()

In [23]:

x_test_cv = cv.transform(x_test)
x_test_cv = x_test_cv.toarray()

In [24]:
#accuracy of the test datasets
model.score(x_test_cv,y_test)

0.9416342412451362

In [25]:
emails = [
    "Hey Rasel,can we get together to play cricket tomorrow?",
    "Upto 20% discount on buying house,exclusive offer just for you.Don't miss the chance!"
]
emails_cv = cv.transform(emails)
emails_cv = emails_cv.toarray()
model.predict(emails_cv)

array([0, 1], dtype=int64)

# 0 => The news was Ham.
# 1 => The News was Spam.